* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


body {
    margin: 0 auto;
    background-color: #333;
    color: white;
    font-size: 1.1em;
    line-height: 1.5;
}

header {
    min-height: 450px;
    text-align: center;
    display: flex;
    justify-content: center;
}

header .bg-image {
    position: absolute;
    background: url("../images/pexels-photo-248515.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 450px;
    z-index: -1;
    opacity: 0.4;
}

header h1 {
    padding-bottom: 0;
}

.content-text {
    max-width: 70%;
}

#section-a .content-text {
    columns: 2;
    column-gap: 35px;
}

h2, h3 {
    margin: 0;
    padding: 1em 0;
}

.content-wrap {
    display: flex;
    flex-flow: column;
    padding: 0 1.5em;
    justify-content: center;
    align-items: center;
}

header a {
    display: inline-block;
    background-color: #fff0;
    color: white;
    text-decoration: none;
    padding: 18px 35px;
    border: 1px solid #666;
    margin: 10px 0;
}


header a:hover {
    background: #eee;
    color: #333;
}

#section-a {
    display: flex;
    text-align: center;
    background-color: #fffd;
    color: #333;
    padding-bottom: 35px;
}

#section-b {
    margin: auto;
    width: 60%;
    padding: 35px;
    color: #333;
}

#section-b ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

#section-b ul li {
    width: 31%;
}

.card {
    background-color: #fff;
    margin-bottom: 10px;
}

.card img {
    width: 100%;
    height: auto;
}

.card-content {
    padding: 10px;
}

#section-c {
    margin: auto;
    background-color: #fff;
    text-align: center;
    color: #333;
    padding: 30px 0;
}

#section-c p {
    width: 60%;
}

#section-d {
    display: flex;
    color: #eee;
    text-align: center;
    padding: 0;
    margin: 0;
}   

#section-d .box {
    padding: 35px;
    width: 50%;
}

#section-d .box:first-child {background-color: dodgerblue;}

footer {
    display: flex;
    justify-content: space-around;
    text-align: center;
    background-color: #000;
    padding: 40px;
}

footer a {
    text-decoration: none;
    color:dodgerblue
}

/* Media options */

@media(max-width: 700px) {

    #section-a .content-text {
        columns: 1;
    }

    #section-b ul, 
    #section-d, 
    footer {
        flex-direction: column;
    }

    #section-b, 
    #section-b ul li,
    #section-c p, 
    #section-d .box {
        width: 100%;
    }
}